<header>
  <div class="container">
    <div class="header-inner">
      <h1>REVEHIT</h1>
      <div class="flex">
        <span class="">Socials</span>
        <span class="slash opacity-05">/</span>
        <a href="" class="opacity-05">kakao</a>
        <span class="slash opacity-05">/</span>
        <a href="" class="opacity-05">instagrem</a>
      </div>
      <div class="flex">
        <span class="">Index</span>
        <span class="slash opacity-05">/</span>
        <a href="" class="opacity-05">About</a>
        <span class="slash opacity-05">/</span>
        <a href="" class="opacity-05">Projects</a>
      </div>
      <a href="" class="talk">Let's talk!</a>
    </div>
  </div>
</header>