<div class="container">
  <h2>
    <span class="opacity-03">Introduce</span><br/>
    <span class="opacity-03">List of Members</span><br/>
    <span class="opacity-02">3rd </span>
    <span class="opacity-1">Class</span>
  </h2>
  <div class="member-list">
    <div class="member-item">
      <div class="num hov">01.
        <div class="image">
          <img src="https://revehit.github.io/forum/assets/images/section5-item1.png" alt="">
        </div>
      </div>
      <div class="name hov">
        <b>김대진</b>
        <p>센터장</p>
      </div>
      <div class="cont hov">
        <p>KMI한국의학연구소</p>
        <p>010-5474-1507 / djkim@kmi.or.kr
        </p>
      </div>
    </div>

    <div class="member-item">
      <div class="num hov">02.
        <div class="image">
          <img src="https://revehit.github.io/forum/assets/images/section5-item2.png" alt="">
        </div>
      </div>
      <div class="name hov">
        <b>류양지 </b>
        <p>헬스케어기업팀 고문</p>
      </div>
      <div class="cont hov">
        <p>법무법인율촌
        </p>
        <p>010-3271-8061 / geolbal86@gmail.com
        </p>
      </div>
    </div>

    <div class="member-item">
      <div class="num hov">03.
        <div class="image">
          <img src="https://revehit.github.io/forum/assets/images/section5-item3.png" alt="">
        </div>
      </div>
      <div class="name hov">
        <b>김락현</b>
        <p>변호사</p>
      </div>
      <div class="cont hov">
        <p>법무법인율촌
        </p>
        <p>010-8651-0686 / rhkim@yulchon.com</p>
      </div>
    </div>

    <div class="member-item">
      <div class="num hov">04.
        <div class="image">
          <img src="https://revehit.github.io/forum/assets/images/section5-item4.png" alt="">
        </div>
      </div>
      <div class="name hov">
        <b>류재준</b>
        <p>임상치의학대학원원장
        </p>
      </div>
      <div class="cont hov">
        <p>고려대학교
        </p>
        <p>010-6479-0830 / kopros@korea.ac.kr
        </p>
      </div>
    </div>

    <div class="member-item">
      <div class="num hov">05.
        <div class="image">
          <img src="https://revehit.github.io/forum/assets/images/section5-item5.png" alt="">
        </div>
      </div>
      <div class="name hov">
        <b>김민</b>
        <p>안과교수(과장)
        </p>
      </div>
      <div class="cont hov">
        <p>강남세브란스병원

        </p>
        <p>010-5399-3792 / minkim76@gmail.com</p>
      </div>
    </div>

    <div class="member-item">
      <div class="num hov">06.
        <div class="image">
          <img src="https://revehit.github.io/forum/assets/images/section5-item6.png" alt="">
        </div>
      </div>
      <div class="name hov">
        <b>민향숙
        </b>
        <p>자격징수부부장
        </p>
      </div>
      <div class="cont hov">
        <p>국민건강보험공단 동작지사

        </p>
        <p>010-9339-2847 / 080309@nhis.or.kr</p>
      </div>
    </div>

    <div class="member-item">
      <div class="num hov">07.
        <div class="image">
          <img src="https://revehit.github.io/forum/assets/images/section5-item7.png" alt="">
        </div>
      </div>
      <div class="name hov">
        <b>김민상</b>
        <p>병원장</p>
      </div>
      <div class="cont hov">
        <p>(의)성북우리아이들병원
        </p>
        <p>010-6284-5795 / kimms@sbwoorisoa.co.kr</p>
      </div>
    </div>

    <div class="member-item">
      <div class="num hov">08.
        <div class="image">
          <img src="https://revehit.github.io/forum/assets/images/section5-item8.png" alt="">
        </div>
      </div>
      <div class="name hov">
        <b>박계현</b>
        <p>전무</p>
      </div>
      <div class="cont hov">
        <p>베이진APAC
        </p>
        <p>010-8663-4285 / kpark121@gmail.com</p>
      </div>
    </div>
  </div>
</div>

<!-- <script>
  const sec5List = gsap.timeline();
  sec5List
      .from(".section5 .member-list", {
        y: "100%", 
      })

  ScrollTrigger.create({
      animation: sec5List,
      trigger: ".section5",
      //start: "top top",
      start: "top center",
      end: "bottom top",
      //end: "top+=3000",
      scrub: 1,
      pin: true,
      anticipatePin: 1,
  });
</script> -->