footer {
  height: 100vh;
  position: relative;
  z-index: 3;
  overflow: hidden;
  //background-color: var(--color-darken);
  padding-top: 20rem;
  .lastman-box {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      display: block;
      margin-left: 20%;
    }
    &.ver2 {
      img {
        //width: 100%;
        height: 100%;
        margin-left: 0;
        object-fit: cover;
        margin-left: 20%;
      }
    }
  }
}
.footer-bg {
  position: absolute;
  height: auto;
  bottom: 0%;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
}
.footer-inner {
  display: flex;
  color: var(--color-white);
  padding-bottom: 10rem;
  position: relative;
  z-index: 5;
}
.link-box {
  width: 25%;
  padding-right: 5%;
  margin-bottom: 10rem;
  li {
    padding-top: 0.5rem;
  }
  a {
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--color-point);
      transform: translateX(-100%);
      transition: all 0.4s;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &:hover {
      &::before {
        transform: translateX(0);
      }
    } 
  }
  .line {
    width: 100%;
    height: 1px;
    display: block;
    background-color: rgba(255,255,255,0.2);
    margin: 1rem 0;
  }
  h4 {
    p {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.5rem;
    }
    .point {
      font-weight: 400;
    }
    strong {
      font-size: 2rem;
      font-weight: 500;
    }
  }
}
.word-box {
  width: 70%;
  flex-grow: 1;
  padding-left: 40%;
  h4 {
    font-size: 4.5rem;
  }
  .word {
    color: var(--color-white);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1.5rem;
  }
}
.moving-text {
  height: 10rem;
  color: var(--color-white);
  font-size: 10rem;
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 5;
  .text {
    margin: 0 1rem;
    white-space: nowrap;
    transition: all 0.4s;
    &:hover {
      color: var(--color-point);
    }
  }
}
