section {
  background-color: var(--color-darken);
  .container {
  }
}
.section1 {
  position: relative;
  .section-inner {
    height: 100vh;
    display: flex;
    position: relative;
    z-index: 2;
  }
  .heading-wrap {
    width: 70%;
    display: flex;
    flex-direction: column;
    .intro {
      font-size: 1rem;
      margin-top: auto;
      p {
        font-size: 1rem;//0.8
        margin-bottom: 1rem;
      }
      span {
        font-size: 1.5rem;
      }
    }
    .heading {
      padding-bottom: 3rem;
      h2 {
        font-size: 7rem;//8
        font-weight: bold;
        line-height: 1;
      }
    }
    .rotate-box {
      height: 8rem !important;
      h2 {
        font-size: 5rem;
      }
    }
  }
  .scope-wrap {
    width: 30%;
    display: flex;
    flex-direction: column;
    .box {
      margin-top: 10rem;
      & + .box {
        margin-top: auto;
        margin-bottom: 3rem;
      }
      .line {
        width: 100%;
        height: 1px;
        display: block;
        background-color: var(--color-white);
        opacity: 0.2;
        margin: 1rem 0;
      }
      ul {
        li {
          opacity: 0.5;
          font-size: 1rem;//0.8
          & + li {
            margin-top: 0.5rem;
          }
          &:last-child {
            font-size: 2rem;
            opacity: 1;
          }
        }
      }
      .awords-icons {
        display: flex;
        align-items: center;
        gap: 1rem;
        .icon {
          width: 2.5rem;
          height: 2.5rem;
          opacity: 0.5;
          transition: all 0.4s;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .img-wrap {
    width: 100%;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    img {
      height: 100vh;
      object-fit: cover;
    }
  }
}