<section class="section1">
  <div class="container">
    <div class="section-inner">
      <div class="heading-wrap">
        <div class="intro">
          <p class="opacity-05">Hi there! this is</p>
          <span class="text-bold opacity-1">REVE</span>
          <span class="text-bold opacity-05">HIT</span>
        </div>
        <div class="heading">
          <p>DESIGN</p>
          <p>FOR WEB SITE</p>
          <div class="rotate-box">
            <p class="point">WEB3</p>
            <!-- <p class="point">HOSPITAL</p>
            <p class="point">BANK</p> -->
          </div>
        </div>
      </div>

      <div class="scope-wrap">
        <div class="box">
          <span class="line"></span>
          <ul>
            <li>Website Design</li>
            <li>Product Design</li>
            <li>Branding & Strategy</li>
          </ul>
          <span class="line"></span>
          <a href="" class="text-underline">How can I help?</a>
        </div>
        <div class="box">
          <p class="text-sm opacity-02">I'm an award winning product designer specialized in financial products. I work for Hospital, Banking & Web3</p>
          <span class="line"></span>
          <div class="awords-icons">
            <div class="icon">
              <img src="./assets/images/red-dot-white.BCoP2Tnu.svg" alt="">
            </div>
            <div class="icon">
              <img src="./assets/images/uxdesign-white._MZKNTN5.svg" alt="">
            </div>
            <div class="icon">
              <img src="./assets/images/dfa-white.BALS8Xtv.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="img-wrap">
      <img src="" alt="">
    </div>
  </div>
</section>